@charset "utf-8";
.main2{
   margin-top: 40px; 
}
.main2 h3{
    position: relative;
    top:-20px;
}
.main2 button{
    padding-left: 20px;
     padding-right: 20px;
    margin-top: 15px;
}
.main2 .btnbook{
    background-image: url(../images/steel-blue-button.png);
    color: white;
}
.main2 .row{
    margin-bottom: 50px;
}
@media (max-width:768px){
    .main2{
        text-align: center;
    }
}